{% extends "base.html" %}

{% block title %}Home | Fikapaus{% endblock %}

{% block body %}
<div id="text-window">
    <h2>Hey there! Yes you there!</h2>
    <p>This is a place for music or rather when you take a break from playing and are having a <a href="http://en.wikipedia.org/wiki/Fika_%28coffee_break%29" target="_blank">fikapaus</a>(hence our name and slogan)! While you are enjoying a the hot drink of your choice and perhaps nibbling on something sweet you can on this website tune you instrument of choice. There is also the added benefit of having a metronome for when your break is over!</p>
    <br>
    <h2>Help us improve the website! </h2>
    <p>This is an ongoing student project and we are constantly looking for feedback to help us improve our website! Although we appreciate any and all kinds of feedback we would greatly appreciate feedback and suggestions on the following points:</p>
    <ul>
        <li>How the tuner is working on different instruments(as we couldn't test very many of them ourselves! <3)</li>
        <li>Suggestions on what the visualization of the metronome should be like.</li>
        <li>Should there be more options for the metronome?</li>
        <li>Performance on mobile phones?</li>
    </ul>
    <br>
</div>
{% endblock %}
